<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define BxS_ToolSet_TargetDir=$(var.BxS_ToolSet.TargetDir)?>
	<Product Id="*" Name="wBxS_Installer" Language="1033" Version="1.0.0.0" Manufacturer="" UpgradeCode="d7a582b4-fca0-4843-89d2-35d2cbba3b02">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="wBxS_Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="wBxS_Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="BxS_ToolSet.dll" Guid="f14e0820-dce0-4f2a-a10a-a469454fa1ce">
			  <File Id="BxS_ToolSet.dll" Name="BxS_ToolSet.dll" Source="$(var.BxS_ToolSet_TargetDir)BxS_ToolSet.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
